<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="Description" content="Information architecture, Web Design, Web Standards." />
    <meta name="Keywords" content="your, keywords" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="Distribution" content="Global" />
    <meta name="Author" content="Erwin Aligam - ealigam@gmail.com" />
    <meta name="Robots" content="index,follow" />
    <link rel="stylesheet" href="../images/CitrusIsland.css" type="text/css" />
    <title>Citrus Island</title>
</head>
<body>
    <div id="wrap">
        <!-- wrap starts here -->
        <div id="header">
            <form method="post" class="search" action="#">
            <p>
                <input
                name="search_query" 
                class="textbox" 
                type="text" />
                <input name="search" class="button" value="Search" type="submit" />
            </p>
            </form>
            <h1 id="logo">
                citrus<span>island</span></h1>
            <h2 id="slogan">
                put your website slogan here...</h2>
        </div>
        <div id="menu">
            <ul>
                <li id="current"><a href="index.html">Home</a></li>
                <li><a href="index.html">News</a></li>
                <li><a href="index.html">Downloads</a></li>
                <li><a href="index.html">Services</a></li>
                <li><a href="index.html">Support</a></li>
                <li><a href="index.html">About</a></li>
            </ul>
        </div>
        <div id="sidebar"><img src="../images/quote.gif" />
        </div>
        <div id="main">
        </div>
        <div id="rightbar">
        </div>
    </div>
    <!-- wrap ends here -->
    <!-- footer starts here -->
    <div id="footer">
        <div id="footer-content">
            <div id="footer-right">
                <a href="index.html">Home</a> | <a href="index.html">Site Map</a> | <a href="index.html">
                    RSS Feed</a>
            </div>
            <div id="footer-left">
                &copy; Copyright 2006 <strong>Your Company</strong>&nbsp; Design by: <a href="http://www.styleshout.com/">
                    styleshout</a> | Valid <a href="http://validator.w3.org/check/referer">XHTML</a>
                | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
            </div>
        </div>
    </div>
    <!-- footer ends here -->
</body>
</html>
